
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CouponsYAYYY</title>

<!--    Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

    {% extends "navbar.html" %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_homepage.css' %}">


    <br>
    <br>
    <div class="container" style="width: 90%">
    <div class="row">
    {% for c in coupons.all %}
    <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ c.coupon_title }}</span>
                    <h6>Valid till {{ c.coupon_validity }}</h6>
                    <p>{{ c.coupon_summary }}</p>
                    <a href="#" class="card-link">{{ c.coupon_user }}</a>
                </div>
                {% if request.user.is_authenticated %}
                <div class="card-action">
                    <a href="#" class="card-link">{{ c.coupon_code }}</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="card-link" style="color: red;">Login to view code!!!</a>
                    {% endif %}
                    <a value="hi" id="copybtn" onclick="Copy();">Copy Link!</a>
                    <a href="{{ c.get_delete_url }}" style="color: red;">Delete Coupon</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


</body>
</html>
{% endblock %}